.noText {
  display: none;
}

.mainText {
  h3 {
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
    margin: 0;
  }
}

section {
  background-image: url("../images/goyencloud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  //   width: auto;

  //   border: 1px solid red;
  padding: 60px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

input {
  border: 2px solid white;
  margin: 20px;
  padding: 5px;
  background: transparent;
  opacity: 0.9;
  color: white;
  border-radius: 8px;
  &::placeholder {
    color: white;
    font-size: 13px;
  }
}
