.noText {
  display: none;
}

h1 {
  font-size: 60px;
}

.mainText {
  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 25px;
    margin: 0;
  }
}

section {
  background-image: url("../images/goyencloud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 70vw;
  padding: 60px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  display: inline-block;
}

input {
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  background: transparent;
  opacity: 0.9;
  color: white;
  border-radius: 8px;
  &::placeholder {
    color: white;
    font-size: 18px;
  }
}
